/*########## start global ##########*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: var(--main-transition);
  font-family: "Poppins", sans-serif;
  color: var(--main-text-color);
}

:root {
  --main-color: #6c55e0;
  --main-color-light: #6c55e062;
  --main-color-light-2: #6c55e0dc;
  --main-bg-color: #fafafa;
  --main-text-color: black;
  --main-p-color: #757575;
  --main-card-color: white;
  --main-transition: 0.5s ease;
  --main-border-radius: 15px;
  --main-shadow: 0px 0px 11px -3px #6c55e0;
  --main-trans: translateY(-5px);
}

.dark {
  --main-color: #6c55e0;
  --main-color-light: #6c55e062;
  --main-color-light-2: #6c55e0dc;
  --main-bg-color: #1a1525;
  --main-text-color: white;
  --main-p-color: #989898;
  --main-card-color: black;
  --main-transition: 0.5s ease;
  --main-border-radius: 15px;
  --main-shadow: 0px 0px 11px -3px #6c55e0;
  --main-trans: translateY(-5px);
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--main-bg-color);
  transition: var(--main-transition);
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 25px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
i {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: var(--main-text-color);
  font-weight: 600;
}
p {
  color: var(--main-p-color);
}
section {
  padding: 100px 0;

  @media (max-width: 768px) {
    padding: 50px 0;
  }
}

.my-big-btn {
  background-color: var(--main-color);
  color: white;
  width: fit-content;
  border: none;
  padding: 20px 40px;
  font-size: 28px;
  cursor: pointer;
  border-radius: var(--main-border-radius);
  box-shadow: var(--main-shadow);

  path,
  svg {
    color: white;
    margin-left: 10px;
  }

  &:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 11px 3px #6c55e0;
  }

  @media (max-width: 768px) {
    padding: 15px 30px;
    font-size: 18px;
  }
}
