.Skill {
  width: calc(100% / 2 - 20px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;

  @media (max-width: 992px) {
    width: 100%;
  }

  .Skill__skillName {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .Skill__rate {
    width: 100%;
    position: relative;
    background-color: var(--main-color-light);
    height: 10px;
    border-radius: 10px;

    span {
      position: absolute;
      height: 100%;
      width: 50%;
      background-color: var(--main-color);
      border-radius: 10px;
    }
  }
}
