.Footer {
  background-color: var(--main-card-color);

  .Footer__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    h1 {
      font-size: 50px;
    }
  }

  .Footer__pages {
    display: flex;
    align-items: center;
    gap: 20px;

    a {
      font-size: 20px;
    }
  }

  .Footer__links {
    display: flex;
    align-items: center;
    gap: 20px;

    a {
      font-size: 30px;
    }
  }
}
