.Footer {
  background-color: var(--main-card-color);

  .Footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    h1 {
      font-size: 50px;
      color: var(--main-color);
    }

    @media (max-width: 1200px) {
      flex-direction: column;
      padding-bottom: 80px;
    }
  }

  .Footer__pages {
    display: flex;
    align-items: center;
    gap: 30px;

    a {
      font-size: 20px;

      &:hover {
        color: var(--main-color);
      }
    }

    @media (max-width: 1200px) {
      gap: 20px;

      a {
        font-size: 18px;
      }
    }
  }

  .Footer__links {
    display: flex;
    align-items: center;
    gap: 20px;

    svg {
      font-size: 30px;

      &:hover {
        path {
          color: var(--main-color);
        }
      }
    }
  }
}
