.Skills {
  .Skills__box {
    background-color: var(--main-card-color);
    box-shadow: var(--main-shadow);
    border-radius: var(--main-border-radius);
    padding: 20px;

    h3 {
      text-align: center;
      margin-bottom: 30px;
    }
  }

  .Skills__skills {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    padding: 10px;
  }
}
